@font-face {
  font-family: 'ohlea_fonts';
  src: url("../fonts/ohlea_fonts/context regular.TTF"); /* IE9 */
  src: url("../fonts/ohlea_fonts/context regular.TTF") format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-weight: 300;
  font-display: swap;
}
